In [13]:
from sqlalchemy import create_engine
import pandas as pd
import psycopg2

#DATOS DE CONEXIÓN
DATABASE_TYPE = 'postgresql'
DBAPI = 'psycopg2'
USER = 'postgres'
PASSWORD = 'PSTG#2526'
HOST = 'localhost'
PORT = '5432'
DATABASE = 'proyecto_etl'

#CADENA DE CONEXION GENERAL, SE DEBEN INSTALAR DIALECT(gestor ddbb)+DRIVER(librería Python)://
connection_string = f"{DATABASE_TYPE}+{DBAPI}://{USER}:{PASSWORD}@{HOST}:{PORT}/{DATABASE}"

In [14]:
#CREA LA CONEXIÓN
engine = create_engine(connection_string)

In [28]:
#CREAR TABLA CROPS
with open('sql_files/1_create_crops.sql', 'r') as file:
    sql_query = file.read()

try:
    conn = psycopg2.connect(
            dbname=DATABASE,
            user=USER,
            password=PASSWORD,
            host=HOST,
            port=PORT
        )
    cur = conn.cursor()
    cur.execute(sql_query)
    conn.commit()
    conn.close()
    cur.close()
    print("Tabla creada exitósamente")
except Exception as e:
    print(f"Error: {e}")

Error: la relación «crops» ya existe

In [6]:
#CREAR TABLA UNIDADES
with open('sql_files/9_create_units.sql', 'r') as file:
    sql_query = file.read()

try:
    conn = psycopg2.connect(
            dbname=DATABASE,
            user=USER,
            password=PASSWORD,
            host=HOST,
            port=PORT
        )
    cur = conn.cursor()
    cur.execute(sql_query)
    conn.commit()
    conn.close()
    cur.close()
    print("Tabla creada exitósamente")
except Exception as e:
    print(f"Error: {e}")

Tabla creada exitósamente

In [29]:
#CREAR TABLA ITEMS
with open('sql_files/3_create_items.sql', 'r') as file:
    sql_query = file.read()

try:
    conn = psycopg2.connect(
            dbname=DATABASE,
            user=USER,
            password=PASSWORD,
            host=HOST,
            port=PORT
        )
    cur = conn.cursor()
    cur.execute(sql_query)
    conn.commit()
    conn.close()
    cur.close()
    print("Tabla creada exitósamente")
except Exception as e:
    print(f"Error: {e}")

Error: la relación «items» ya existe

In [30]:
#CREAR TABLA ELEMENTS
with open('sql_files/5_create_elements.sql', 'r') as file:
    sql_query = file.read()

try:
    conn = psycopg2.connect(
            dbname=DATABASE,
            user=USER,
            password=PASSWORD,
            host=HOST,
            port=PORT
        )
    cur = conn.cursor()
    cur.execute(sql_query)
    conn.commit()
    conn.close()
    cur.close()
    print("Tabla creada exitósamente")
except Exception as e:
    print(f"Error: {e}")

Error: la relación «elements» ya existe

In [31]:
#CREAR TABLA FLAGS
with open('sql_files/7_create_flags.sql', 'r') as file:
    sql_query = file.read()

try:
    conn = psycopg2.connect(
            dbname=DATABASE,
            user=USER,
            password=PASSWORD,
            host=HOST,
            port=PORT
        )
    cur = conn.cursor()
    cur.execute(sql_query)
    conn.commit()
    conn.close()
    cur.close()
    print("Tabla creada exitósamente")
except Exception as e:
    print(f"Error: {e}")

Error: la relación «flags» ya existe

In [18]:
import chardet

#IDENTIFICAR CODIFICACIÓN DE UN ARCHIVO PARA CONFIGURAR INSERT
with open('sql_files/2_insert_crops.sql', 'rb') as file:
    result = chardet.detect(file.read())

print(result)

{'encoding': 'utf-8', 'confidence': 0.99, 'language': ''}

In [7]:
#INSERT TABLA UNIDADES
with open('sql_files/10_insert_units.sql', 'r') as file:
    sql_query = file.read()

try:
    conn = psycopg2.connect(
            dbname=DATABASE,
            user=USER,
            password=PASSWORD,
            host=HOST,
            port=PORT
        )
    cur = conn.cursor()
    cur.execute(sql_query)
    conn.commit()
    conn.close()
    cur.close()
    print("Tabla creada exitósamente")
except Exception as e:
    print(f"Error: {e}")

Tabla creada exitósamente

In [40]:
#INSERT TABLA ITEMS
with open('sql_files/4_insert_items.sql', 'r', encoding='utf-8') as file:
    sql_query = file.read()

try:
    conn = psycopg2.connect(
            dbname=DATABASE,
            user=USER,
            password=PASSWORD,
            host=HOST,
            port=PORT
        )
    cur = conn.cursor()
    cur.execute(sql_query)
    conn.commit()
    conn.close()
    cur.close()
    print("Tabla creada exitósamente")
except Exception as e:
    print(f"Error: {e}")

Tabla creada exitósamente

In [42]:
#INSERT TABLA FLAGS
with open('sql_files/8_insert_flags.sql', 'r', encoding='utf-8') as file:
    sql_query = file.read()

try:
    conn = psycopg2.connect(
            dbname=DATABASE,
            user=USER,
            password=PASSWORD,
            host=HOST,
            port=PORT
        )
    cur = conn.cursor()
    cur.execute(sql_query)
    conn.commit()
    conn.close()
    cur.close()
    print("Tabla creada exitósamente")
except Exception as e:
    print(f"Error: {e}")

Tabla creada exitósamente

In [45]:
#INSERT TABLA CROPS
with open('sql_files/2_insert_crops.sql', 'r', encoding='utf-8') as file:
    sql_query = file.read()

try:
    conn = psycopg2.connect(
            dbname=DATABASE,
            user=USER,
            password=PASSWORD,
            host=HOST,
            port=PORT
        )
    cur = conn.cursor()
    cur.execute(sql_query)
    conn.commit()
    conn.close()
    cur.close()
    print("Tabla creada exitósamente")
except Exception as e:
    print(f"Error: {e}")

Tabla creada exitósamente

In [15]:
#CONVIERTE LA CONEXIÓN A LA DB EN UN DATA FRAME
with engine.connect() as connection:
    query = "SELECT * FROM crops"
    df_crops = pd.read_sql(query, connection)
    print(df_crops.head(10))

   id_interno  area_code     area  item_code                 item  \
0           1          4  Algeria        221  Almonds, with shell
1           2          4  Algeria        221  Almonds, with shell
2           3          4  Algeria        221  Almonds, with shell
3           4          4  Algeria        515               Apples
4           5          4  Algeria        515               Apples
5           6          4  Algeria        515               Apples
6           7          4  Algeria        526             Apricots
7           8          4  Algeria        526             Apricots
8           9          4  Algeria        526             Apricots
9          10          4  Algeria        366           Artichokes

   element_code         element    unit  y1961  y1962  ...   y2011   y2012  \
0          5312  Area harvested      ha  13300  13300  ...   52245   49975
1          5419           Yield   hg/ha   4511   4511  ...    9689   13304
2          5510      Production  tonnes   6000   6000  ...   50621   66487
3          5312  Area harvested      ha   3400   3100  ...   51080   48828
4          5419           Yield   hg/ha  45294  45161  ...   79112   81414
5          5510      Production  tonnes  15400  14000  ...  404105  397529
6          5312  Area harvested      ha   4200   4600  ...   49191   47376
7          5419           Yield   hg/ha  30286  30000  ...   58120   56845
8          5510      Production  tonnes  12720  13800  ...  285897  269308
9          5312  Area harvested      ha   5000   5000  ...    3760    4168

    y2013   y2014   y2015   y2016   y2017   y2018   y2019  continente
0   49011   39050   40403   49983   50100   43043   35380      África
1   12965   16601   18930   13223   12362   13292   20467      África
2   63545   64827   76482   66095   61934   57213   72412      África
3   48064   40418   41011   46070   44620   39034   32989      África
4   94860  114507  110086  108716  110766  124970  169399      África
5  455937  462815  451472  500855  494239  487808  558830      África
6   46893   38590   38857   38239   44307   35500   30861      África
7   68194   56217   75530   67149   57980   68237   67789      África
8  319784  216941  293486  256771  256890  242243  209204      África
9    4472    4705    4674    5174    5532    5784    5792      África

[10 rows x 68 columns]